services:
  gateway:
    build: ./gateway
    env_file: ./gateway/.env
    ports:
      - "3000:3000"
    depends_on:
      - users
      - products
      - orders

  users:
    build: ./users
    env_file: ./users/.env
    ports:
      - "3001:3001"
    depends_on:
      users-db:
        condition: service_healthy

  products:
    build: ./products
    env_file: ./products/.env
    ports:
      - "3002:3002"
    depends_on:
      products-db:
        condition: service_healthy

  orders:
    build: ./orders
    env_file: ./orders/.env
    ports:
      - "3003:3003"
    depends_on:
      - orders-db

  users-db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: users_db
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  products-db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: products_db
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  orders-db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orders_db
    ports:
      - "5435:5432"
